main

{

  width: 65%;
  max-width: 800px;
  margin: auto;
  font-family: lato;
  background-color: whitesmoke;
  line-height: 1.5;
  padding: 2px 2px;
  margin-top: 34px;
  border-radius: 4px;
}

li {
  display: inline;
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%; 
    border-radius: 4px;
  }
  
li a:hover {
    background-color: rgb(28, 224, 110);
  } 

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

  body {
    background-color: rgb(32, 30, 30);
  }

  .titulo {
    text-align: center;
  }
  .imagemprofile {
    text-align: center;
  }
 .texto1 {
   text-align: center;
   padding: 10px;
 }
