li {
  display: inline;
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;  
  }
  
li a:hover {
    background-color: rgb(28, 224, 110);
  } 
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }
  .caixa1 {
    text-align: center;
  }
  
  Body {
    background-color: rgb(26, 24, 24);
    line-height: 1,5;
    
  }
  main {
    display: center;
    background-color: whitesmoke;
    height: 800;
    width: 700;
    padding: 5px;
    position: center;
    border-radius: 7px;

  }